/*Colors*/
/*Colors*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  -webkit-transition: .2s;
  transition: .2s;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.menu._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.toggle .stripe1 {
  -webkit-transform: rotate(-45deg) translate(-5px);
          transform: rotate(-45deg) translate(-5px);
  background: #fff !important;
}

.toggle .stripe2 {
  -webkit-transform: rotate(45deg) translate(-5px);
          transform: rotate(45deg) translate(-5px);
  background: #fff !important;
}

button:focus {
  outline: none;
}

/*Header*/
header {
  height: 100px;
  position: relative;
}

header nav {
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 100px;
  margin: auto;
}

header .nav-inner-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

header .logo {
  color: #515151;
  font-size: 1rem;
  z-index: 1;
  letter-spacing: .1em;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
}

header .menu {
  position: fixed;
  width: 45%;
  height: 100vh;
  background: #fbfbfb;
  z-index: 2222;
  top: 0;
  right: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  color: #fff;
  -webkit-transition: 0.4s cubic-bezier(0.13, 0.81, 0.99, 0.39);
  transition: 0.4s cubic-bezier(0.13, 0.81, 0.99, 0.39);
}

header .menu .menu-inner {
  margin: 0 10%;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .menu .menu-inner .nav-sub-pages a {
  color: #515151;
  font-weight: 700;
  font-size: 1.5rem;
}

header .hamburger-menu {
  width: 35px;
  cursor: pointer;
  z-index: 22223;
  mix-blend-mode: difference;
  margin: 0 0 0 20px;
}

header .hamburger-menu .stripe {
  height: 2px;
  background: #2F2E2E;
  margin: 5px 0;
  cursor: pointer;
  -webkit-transition: all .35s;
  transition: all .35s;
}

/*Header*/
/*Landing page*/
.landing-section {
  min-height: 100vh;
  width: 100%;
}

.landing-section .header-langing .logo {
  color: #fff;
  font-size: 13px;
  letter-spacing: .2em;
}

.landing-section .header-langing .stripe {
  background: #fff;
}

.landing-section .header-langing .test li {
  display: inline;
  margin: 0 10px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 13px;
  text-transform: uppercase;
}

.landing-section .image-backgorund {
  max-width: 100vw;
  min-height: 100vh;
  margin: auto;
  top: 0;
}

.landing-section .image-backgorund img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
}

.landing-section .image-backgorund .text-wrapper {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  text-transform: uppercase;
  color: #fff;
}

.landing-section .image-backgorund .text-wrapper h1 {
  font-size: 4.5rem;
  font-family: 'Cormorant', serif !important;
  font-weight: 700;
}

.lookbook-section {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.section-reveal {
  min-height: 55vh;
}

.collection-section, .lookbook-section {
  max-width: 1300px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection-section .img-wrapper, .lookbook-section .img-wrapper {
  height: 35vh;
  position: relative;
}

.collection-section .img-wrapper img, .lookbook-section .img-wrapper img {
  position: relative;
  width: 35vw;
  -o-object-fit: cover;
     object-fit: cover;
  height: 40vh;
}

button {
  cursor: pointer;
}

.text-wrapper {
  max-width: 530px;
}

.text-wrapper .title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 800;
  font-family: 'Muli', sans-serif;
}

.text-wrapper p {
  line-height: 24px;
  margin: 15px 0;
  color: #515151;
  font-family: 'Karla', sans-serif;
  font-size: 1.02rem;
}

.text-wrapper .see-more-btn {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  border: #333333 1px solid;
  padding: 10px 35px;
  background: none;
  text-transform: capitalize;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: Roboto;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.text-wrapper .see-more-btn::before {
  content: '';
  background: #333;
  width: 100%;
  height: 0%;
  bottom: 0;
  -webkit-transition: .2s;
  transition: .2s;
  left: 0;
  z-index: -1;
  position: absolute;
}

.text-wrapper .see-more-btn:hover {
  color: #fff;
}

.text-wrapper .see-more-btn:hover.see-more-btn::before {
  height: 100%;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
  text-align: center;
}

.about-section .text-wrapper-aobut {
  max-width: 630px;
  margin: 0 20px;
}

.about-section .text-wrapper-aobut h1 {
  padding: 0 0 30px 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: 'Muli', sans-serif;
}

.about-section .text-wrapper-aobut p {
  line-height: 25px;
  font-size: 1.05rem;
  letter-spacing: .01em;
  font-family: 'Karla', sans-serif;
}

.about-section .text-wrapper-aobut .see-more-btn {
  padding: 12px 40px;
  background: none;
  font-size: 1rem;
  border: #333 1px solid;
  color: #fff !important;
  font-family: Roboto;
  margin: 30px 0 0 0;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  letter-spacing: .1em;
  background: #242424;
  -webkit-transform: .2s;
          transform: .2s;
}

.about-section .text-wrapper-aobut .see-more-btn:hover.arrow {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.about-section .text-wrapper-aobut .see-more-btn .arrow {
  background: #fff;
  height: 1px;
  -webkit-transform: .2s;
          transform: .2s;
  width: 40px;
  margin: 0 0 0 10px;
  display: inline-block;
  -webkit-transform: translateY(-400%);
          transform: translateY(-400%);
  border-radius: 3px;
}

.about-section .text-wrapper-aobut .see-more-btn .arrow::after, .about-section .text-wrapper-aobut .see-more-btn .arrow::before {
  content: '';
  width: 7px;
  height: 1.5px;
  background: #fff;
  right: -3px;
  position: absolute;
  border-radius: 3px;
}

.about-section .text-wrapper-aobut .see-more-btn .arrow::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -2px;
}

.about-section .text-wrapper-aobut .see-more-btn .arrow::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 2px;
}

.about-section img {
  width: 60vw;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 40px 0;
}

.newsletter-section {
  min-height: 45vh;
  position: relative;
}

.newsletter-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.newsletter-container .text-wrap {
  max-width: 480px;
  margin: auto;
}

.newsletter-container .text-wrap p {
  letter-spacing: 0.01em;
  padding: 30px 0;
  color: #161414;
  line-height: 25px;
  font-size: 1.01rem;
  font-family: 'Karla', sans-serif;
}

.newsletter-container .text-wrap h1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #161414;
  font-family: Roboto;
}

.newsletter-container .input-email-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter-container .input-email-button input {
  padding: 15px 20px;
  width: 30vw;
  height: 61px;
  border: #3f3e3e 1px solid;
  font-family: Roboto;
}

.newsletter-container .input-email-button input[placeholder] {
  letter-spacing: .1em;
  color: #33333394;
  font-weight: lighter;
  font-size: 1rem;
}

.newsletter-container .input-email-button button {
  background: #333;
  border: #333 1px solid;
  color: #fff;
  letter-spacing: .1em;
  padding: 20px 55px;
  font-size: 1rem;
  font-family: Roboto;
  -webkit-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.newsletter-container .input-email-button button:hover {
  background: #141414;
}

.on-top-btn {
  position: fixed;
  bottom: 7%;
  right: 5%;
  padding: 10px 35px;
  background: rgba(47, 46, 46, 0.7);
  font-family: Roboto;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #fff;
  font-size: .8rem;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.on-top-btn:hover {
  background: #161616;
}

/*Landing page*/
/*About*/
.main-container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: auto;
}

.main-container-about img {
  width: 25vw;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container-about .text-wrappper {
  max-width: 630px;
  padding: 0 10px 0 50px;
}

.main-container-about .text-wrappper h1 {
  font-family: 'Playfair Display', serif;
  padding: 0 0 20px 0;
  line-height: 39px;
  letter-spacing: .05rem;
  font-size: 2.4em;
}

.main-container-about .text-wrappper p {
  font-family: Muli;
  line-height: 24px;
}

.main-container-about .text-wrappper .contact-part {
  padding: 30px 0 0 0;
}

.main-container-about .text-wrappper .contact-part p {
  padding: 15px 0;
}

.main-container-about .text-wrappper .contact-part a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

/*About*/
/*Collection*/
.logo-at-collection {
  color: #f5f5f5 !important;
}

.stripe-collection {
  mix-blend-mode: none !important;
  color: #fff !important;
}

.start-section-coll {
  width: 100%;
  min-height: 90vh;
  position: relative;
}

.start-section-coll img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.start-section-coll h1 {
  font-size: 4.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 900;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.items-main-collection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1350px;
  margin: 0 auto;
}

.midlle-section-collection, .upper-section-collection, .lower-section-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
}

.larger-item-collection {
  max-width: 30vw !important;
  height: 50vh !important;
  margin: 0 20px;
}

.smaller-item-collection {
  max-width: 20vw !important;
  height: 30vh !important;
  margin: 0 20px;
}

.smaller-item-collection, .larger-item-collection {
  position: relative;
  max-width: 30vw;
  height: 50vh;
}

.smaller-item-collection img, .larger-item-collection img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.smaller-item-collection:hover .hover-item-name, .larger-item-collection:hover .hover-item-name {
  opacity: 1;
}

.smaller-item-collection .hover-item-name, .larger-item-collection .hover-item-name {
  position: absolute;
  left: 0;
  text-decoration: none;
  background: #2F2E2E;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.smaller-item-collection .hover-item-name p, .larger-item-collection .hover-item-name p {
  text-transform: uppercase;
  color: white;
  font-family: Lato;
  position: absolute;
}

.smaller-item-collection .hover-item-name .upper, .larger-item-collection .hover-item-name .upper {
  top: 10%;
  left: 10%;
}

.smaller-item-collection .hover-item-name .lower, .larger-item-collection .hover-item-name .lower {
  bottom: 10%;
  left: 10%;
}

/*Collection*/
/*lookbook*/
.h_at_lookbook .logo {
  color: #f3f3f3;
  z-index: 3;
}

.h_at_lookbook .stripe {
  background: #818181 !important;
}

.upper-grid-items {
  margin-bottom: 6em;
  margin-top: 6em;
}

.grid-container-look {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  max-width: 1300px;
  justify-items: center;
  row-gap: 50px;
  margin: 0 auto;
}

.grid-container-look div:nth-child(even) {
  -ms-grid-column: 2;
  grid-column: 2;
  margin: 50px 0;
}

.grid-container-look div:nth-child(odd) {
  -ms-grid-column: 1;
  grid-column: 1;
}

.grid-container-look img {
  width: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-container-look-row {
  background: #252525;
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container-look-row img {
  margin: 0 50px;
  width: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-at-lookbook {
  background: #252525;
  margin-top: 0;
}

.footer-at-lookbook p, .footer-at-lookbook ion-icon {
  color: #cfcfcf;
}

/*lookbook*/
/*Choesn-item*/
.item-information {
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

.img-of-items-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  position: relative;
}

.img-of-items-page img {
  height: 60vh;
}

.img-of-items-page pic-sec {
  width: 15vw;
}

.img-of-items-page .pic-first {
  width: 30vw;
  height: 80vh;
}

.photo-of-product {
  max-width: 25vw;
  height: 40vh;
  padding: 0 30px;
}

.chujwdupie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.chujwdupie .info-about-item {
  max-width: 400px;
}

.chujwdupie .info-about-item .title {
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.chujwdupie .info-about-item .text-title {
  padding: 15px 0;
  line-height: 25px;
  font-size: 1.05rem;
}

.sizes {
  padding: 0 0 20px 0;
}

.colors-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.order-btn {
  padding: 15px 40px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #2F2E2E;
  color: #fff;
  -webkit-transition: background .2s;
  transition: background .2s;
  font-weight: normal;
  border: none;
}

.order-btn:hover {
  background: #EF2E2E;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.green {
  background: green;
}

.pink {
  background: pink;
}

.earth {
  background: #463d3d;
}

.other-prod-text {
  margin-top: 6em;
  margin-bottom: 3em;
  text-align: center;
}

.other-prod-text h2 {
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.items-other-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 90%;
  margin: auto;
}

.items-other-container a {
  text-decoration: none;
}

.items-other-container .item-wrapper {
  width: 30vw;
  margin: 0 20px;
  height: 300px;
  position: relative;
}

.items-other-container .item-wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.items-other-container .item-wrapper .text {
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: 5%;
  color: #fff;
}

.items-other-container .item-wrapper .text h4 {
  font-size: 1.45rem;
  padding: 10px 0;
}

.items-other-container .item-wrapper .text p {
  font-size: 1rem;
}

.btn-return {
  position: relative;
  min-height: 10vh;
}

.btn-return button {
  padding: 20px 80px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  background: #EF2E2E;
  border: none;
  color: #fff;
}

/*Choesn-item*/
/*Footer*/
footer {
  height: 80px;
  width: 100%;
  position: relative;
  margin-top: 5em;
}

footer .footer-inner {
  max-width: 1500px;
  margin: auto;
}

footer .footer-inner .footer-second-look p {
  color: #cccccc !important;
}

footer .footer-inner .footer-second, footer .footer-inner .footer-second-look {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-inner .footer-second .socials ion-icon, footer .footer-inner .footer-second-look .socials ion-icon {
  margin: 0 10px 0 0;
  font-size: 1.2rem;
  cursor: pointer;
  color: #3f3e3e;
}

footer .footer-inner .footer-second .text-part, footer .footer-inner .footer-second-look .text-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-inner .footer-second .text-part p, footer .footer-inner .footer-second-look .text-part p {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: .8rem !important;
  letter-spacing: .02em;
  color: #686464;
}

.footer-lookbook {
  background: #252525;
  height: 10vh;
  margin: 0 !important;
}

/*Footer*/
/* Media queries */
@media screen and (max-width: 1348px) {
  header {
    margin: 0 20px;
  }
}

@media screen and (max-width: 1298px) {
  .text-wrapper-in {
    font-size: 360% !important;
  }
  .text-wrapper-in-sec {
    font-size: 180% !important;
  }
  .explore-btn-inner {
    font-size: 110% !important;
    padding: 31px 110px !important;
  }
  .lookbook-section, .collection-section {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .lookbook-section .see-more-btn, .collection-section .see-more-btn {
    padding: 15px 45px !important;
  }
  .input-email-button button {
    font-size: 80% !important;
    padding: 22px 20px !important;
  }
  .input-email-button input[placeholder] {
    font-size: 80% !important;
  }
  /*about*/
  .text-contact-and-img .text-contact-wrap p {
    font-size: 90% !important;
  }
  .text-contact-and-img .text-contact-wrap h1 {
    font-size: 200%;
  }
}

@media screen and (max-width: 904px) {
  .newsletter-section {
    min-height: 60vh;
    margin-top: 3em;
  }
  .newsletter-container .text-wrap {
    margin: 0 20px;
  }
  .info-about-item {
    margin: 0 20px;
    padding: 40px 0;
  }
  .footer-lookbook {
    height: auto;
    padding: 20px 0;
  }
  .footer-lookbook p, .footer-lookbook ion-icon {
    color: #cecece !important;
  }
  .main-container-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container-about .img-wrapper {
    padding: 0 0 50px 0;
  }
  .main-container-about img {
    width: 80vw;
  }
  .main-container-about .text-wrappper {
    padding: 0 0 0 0 !important;
    margin: 0 20px;
  }
  .img-of-items-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-of-items-page img {
    width: 100%;
    height: 45vh;
  }
  .nav-sub-pages a {
    font-size: 100% !important;
  }
  .image-with-text-look h1 {
    font-size: 200% !important;
  }
  .midlle-section-collection, .upper-section-collection, .lower-section-collection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 !important;
  }
  .midlle-section-collection .larger-item-collection, .midlle-section-collection .smaller-item-collection, .upper-section-collection .larger-item-collection, .upper-section-collection .smaller-item-collection, .lower-section-collection .larger-item-collection, .lower-section-collection .smaller-item-collection {
    max-width: 65vw !important;
    height: 70vh !important;
    margin: 20px 0 !important;
  }
  .image-with-text-coll h1 {
    font-size: 200% !important;
  }
  .grid-container-look-row img {
    width: 80vw;
    height: 80vh;
    margin: 50px 0 !important;
  }
  .grid-container-look img {
    width: 80vw;
    height: 80vh;
  }
  .input-email-button button {
    padding: 0 !important;
    width: 100px;
    height: 61px;
  }
  .footer-second {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .footer-second p {
    padding: 10px 0;
  }
  .footer-second .text-part {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    text-align: center;
  }
  .footer-second .socials {
    text-align: center;
    padding: 10px 0;
  }
  .text-contact-and-img {
    max-width: 630px;
    margin: auto;
  }
  .text-contact-and-img img {
    width: 100%;
  }
  .text-wrapper-landing {
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
    left: 50%;
    top: 50%;
    position: absolute;
  }
  .explore-btn-inner {
    font-size: 90% !important;
    padding: 20px 60px !important;
  }
  .socials-start-inner {
    display: none;
  }
  .text-contact-and-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 90vh !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-contact-and-img .img img {
    width: 100%;
  }
  .grid-container-look {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .grid-container-look div:nth-child(even) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .grid-container-look div:nth-child(odd) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .test {
    display: none;
  }
  .grid-container-look-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chujwdupie {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    max-width: 400px;
  }
  .chujwdupie .photo-of-product {
    max-width: 100vw;
  }
  .items-other-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .items-other-container .item-wrapper {
    width: 100vw !important;
  }
  .items-other-container .item-wrapper img {
    width: 100vw !important;
  }
}

@media screen and (max-width: 828px) {
  .collection-section, .lookbook-section {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    min-height: 80vh !important;
    max-width: 530px;
  }
  .collection-section .text-wrapper, .lookbook-section .text-wrapper {
    margin: 0 20px;
  }
  .collection-section img, .lookbook-section img {
    width: 100% !important;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 788px) {
  .text-wrapper-aobut .see-more-btn {
    font-size: 80% !important;
  }
  .text-wrapper-aobut .see-more-btn .arrow {
    width: 20px !important;
  }
  .collection-section, .lookbook-section {
    min-height: 100vh !important;
  }
  button {
    font-size: 80% !important;
    padding: 12px 20px !important;
    height: 50px !important;
  }
  input {
    height: 50px !important;
  }
  input[placeholder] {
    font-size: 80% !important;
    width: 70vw !important;
  }
}

@media screen and (min-width: 1972px) {
  .about-section {
    min-height: 40vh !important;
  }
  .about-section img {
    height: 20vh !important;
    width: 40vw !important;
  }
  .lookbook-section, .collection-section {
    min-height: 20vh !important;
  }
  .newsletter-section {
    min-height: 20vh !important;
  }
  .lookbook-section img {
    height: 30vh !important;
    max-width: 30vw !important;
    margin: 0 0 0 50px !important;
  }
  .collection-section img {
    margin: 0 50px 0 0 !important;
    height: 30vh !important;
    max-width: 30vw !important;
  }
}

/* Media queries */
/*# sourceMappingURL=style.css.map */